doctype html
html(lang="ja")
  include ./_header
  body
    section#header-nav
      .container
        .logo-block
          a(href="./")
            img.logo-sp(src="./img/gfo_logo.png" width="40px" height="42px")
          a(href="./index.html")
            h1.title GRAND FRONTEND OSAKA 2016

    #event-container
      section#session-detail-container.wow.fadeIn
        .container
          h4.day-category
            .subtitle
              img(src="./img/day2@2x.png" width="60px" height="60px" ,alt="DAY2")
              span Frontend Sessions
        .discription
          .container
            h4.event-title GRAND FRONTEND OSAKA
            p 2日目の8/28は、フロントエンドエンジニアのためのセミナー企画を実施します！「フロントエンドの最先端」 をテーマに、たくさんの登壇者を招いて これからのフロントエンドのミライを語ります。
            .action-Block
              .btn
                a.entry-btn(href="http://kfug.connpass.com/event/35228" target="_blank")
                  span ENTRY
                  | 参加申し込み

        .session-list
          .container
            each speaker in sessions
              .list-item.wow.fadeIn
                .list-container
                  .time-area
                    //span.time 10:00
                    span.time
                  h5.sesstion-title=speaker.title
                  p.sesstion-description=speaker.description
                  .prof-block
                    .bg
                    .img-prof-block
                        .img-prof(style="background-image:url('./assets/images/speakers/#{speaker.code}.png')")
                    dl.prof-detail-block
                      dt=speaker.name
                      dt: a(href=speaker.link,target="_blank")
                        i.fa.fa-external-link
                        |  profile
                      //dd
                      //  a(href="https://www.google.co.jp/" target="_blank")
                      //    | <i class="fa fa-twitter-square" aria-hidden="true"></i>
                      //dd
                      //  a(href="https://www.google.co.jp/" target="_blank")
                      //    | <i class="fa fa-facebook-square" aria-hidden="true"></i>


        .container
          .action-Block
            .btn
                a.entry-btn(href="http://kfug.connpass.com/event/35228" target="_blank")
                    span ENTRY
                    | 参加申し込み




footer
  - var url = "session.html"
  include ./_footer